

<div class="custom-background">

    <!--
    <div class="container  mx-auto mt-10 lg:flex lg:justify-center">

        <div class="max-w-6xl w-full">
        -->

        <div class="container mx-auto mt-10 px-4 flex justify-center">
            <div class="w-full max-w-6xl md:px-8">


                <div class="grid grid-cols-1">
                    <!-- Card 1 -->
                    <div class="max-w-1xl w-full bg-white rounded-lg overflow-hidden flex flex-row mb-6 md:mb-0 " >
                    
                        <!-- Content Section (Left) -->
                        <div class="p-6 flex flex-col justify-center w-full ">
                            <p class="mt-2 content text-justify">
                                <span class="heading text-2xl font-bold">Entrepreneurial Development Council India (EDC INDIA)&nbsp;&nbsp;</span> is a premier organisation devoted to empowering India’s youth by nurturing entrepreneurial and academic talent.
                
                                Our work spans 54+ universities and institutions, focusing on innovation, future technologies, and personal development. EDC India is a trusted partner for aspiring entrepreneurs and students, offering tailored programs, mentorship, and financial support.
                                
                                Our focus areas include cutting-edge technologies like Space Innovation, 6G & 7G Communications, and Underwater Drones, alongside nurturing talent in business, arts, and sciences.
                                            </p>
                        </div>
                    </div>

                    <!--
            <p class="content">
                <span class="heading text-2xl font-bold">Entrepreneurial Development Council India (EDC INDIA)&nbsp;&nbsp;</span> is a premier organisation devoted to empowering India’s youth by nurturing entrepreneurial and academic talent.
                
                Our work spans 54+ universities and institutions, focusing on innovation, future technologies, and personal development. EDC India is a trusted partner for aspiring entrepreneurs and students, offering tailored programs, mentorship, and financial support.
                
                Our focus areas include cutting-edge technologies like Space Innovation, 6G & 7G Communications, and Underwater Drones, alongside nurturing talent in business, arts, and sciences.
            </p>
            -->
            
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
                    <!-- Card 1 -->
                    <div class="max-w-2xl w-full bg-white shadow-lg rounded-lg overflow-hidden flex flex-row mb-6 md:mb-0 block-left-about " style="background-color: aliceblue;">
                    
                        <!-- Content Section (Left) -->
                        <div class="p-6 flex flex-col justify-center w-full md:w-3/4">
                            <h2 class="text-2xl font-bold heading">Mission</h2>
                            <p class="mt-2 content text-justify">
                                To celebrate academic talent and provide young minds with the resources, mentorship, and financial support necessary to achieve their goals, empowering them to contribute meaningfully to society.
                            </p>
                        </div>
                    
                        <!-- Image Section (Right) -->
                        <div class="w-full md:w-1/4 flex items-center justify-center p-4 hidden md:flex">
                            <img src="images/mission.png" alt="Card Image" class="mission-vision-image object-cover flip-image">
                        </div>
                    </div>
                
                    <!-- Card 2 -->
                    <div class="max-w-2xl w-full bg-white shadow-lg rounded-lg overflow-hidden flex flex-row mb-6 md:mb-0 block-right-about" style="background-color: aliceblue;">
                    
                        <!-- Image Section (Left) -->
                        <div class="w-full md:w-1/4 flex items-center justify-center p-4 hidden md:flex">
                            <img src="images/vision.png" alt="Card Image" class="mission-vision-image object-cover">
                        </div>
                
                        <!-- Content Section (Right) -->
                        <div class="p-6 flex flex-col justify-center w-full md:w-3/4">
                            <h2 class="text-2xl font-bold heading">Vision</h2>
                            <p class="mt-2 content text-justify">
                                To build a platform that recognises excellence, fosters innovation, and inspires students from all walks of life to pursue their dreams and redefine success.
                            </p>
                        </div>
                    </div>

                </div>
                
                
            
            <div class="mt-20 block-up">
                <app-image-slider></app-image-slider>

                <div class="flex justify-center mt-6 block-up">
                    <a href="/gallery">
                        <button class="bg-gradient-to-r from-blue-500 to-indigo-600 text-white font py-3 px-6 rounded-2xl flex items-center gap-2 shadow-lg hover:from-indigo-600 hover:to-blue-500 transition duration-300">
                            <!--
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12h18m-9-9v18"></path>
                            </svg>
                            -->
                            <span style="letter-spacing:2px;">EDC Galleria</span>
                            
                        </button>

                    </a>

                </div>

                
            </div>


            
            
            <div class="mt-10">
                <app-scrollable-about-journey></app-scrollable-about-journey>
            </div>
            
            



          </div>

        


        
    
    
    </div>
    
</div>



