/* *{
    box-sizing: border-box;
} */



.outer-container{

    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-color: aliceblue; */

    @media (max-width: 480px){
        width:90%;    
    }


    .inner-container{
        width: 1000px;
        height:445px;

        @media (max-width: 480px){
            width: 600px;
            height:170px;    
        }


    }

}

.slider-container{
    position: relative;
    width:75%;
    height:100%;
    margin:auto;
    align-items: center;
    justify-content: center;

    .slider-item{
        position: absolute;
        z-index:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
        transition: z-index 250ms;

        .slider-img{
            position:relative;
            left:0;
            top:0;
            width:100%;
            height:100%;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
            transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
            transform: scale(0);
            opacity: 0;
            border-radius: 10px;


             
        }

        &.hideLeft{
            .slider-img{
                transform: translateX(-50%) scale(0);
            }

        }

        &.prev{
            z-index:1;

            .slider-img{
                opacity:0.8;
                transform:translateX(-25%) scale(0.8);
            }
        }

        &.selected{
            z-index:2;

            .slider-img{
                opacity:1;
                transform:translateX(0%) scale(1);
                cursor: pointer;
            }
        }

        &.next{
            z-index:1;

            .slider-img{
                opacity:0.8;
                transform:translateX(25%) scale(0.8);
            }
        }

        &.hideRight{
            .slider-img{
                transform: translateX(50%) scale(0);
            }
        } 
    }


}


/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: aliceblue;
    color: rgb(78, 78, 78);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10;
}

.arrow:hover {
    background-color: rgb(196, 223, 244);
}

.arrow.left {
    left: -20vw;
}

.arrow.right {
    right: -20vw;
}


@media (max-width: 480px){

    .arrow.left {
        opacity: 0;
    }
    
    .arrow.right {
        opacity: 0;
    }
}