



<div class="container container-info ">
  <div class="row text-center">

    <h3 >EDC INDIA's</h3>
    <h1>5th National Scholarship Exam</h1>

    

    <app-scholrship-countdown></app-scholrship-countdown>

    <div style="display: flex; justify-content: center; align-items: center;">
      <a href="https://nse-edc.in/" target="_blank" style="width: fit-content;">
        <button class="btn btn-primary mt-5">
          Apply Now
        </button>
      </a>
    </div>

      <p>Note: Register before February 28, 2025, to avoid late fees.</p>
    

    
  </div>
</div>
